#user-icon {
    color: var(--cor-vinho-verde);
    transform: scale(1.05);
}

.user {
    position: absolute;
    right: 21rem;
    top: 32px;
    color: var(--cor-branca);
}

.user__exit {
    margin-top: 5px;
    font-size: 1.2rem;
    padding: 2px 5px;
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-preta);
    color: var(--cor-vinho-escuro);
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

main {
    margin-bottom: -1rem;
}

.login__container {
    padding: 88px 0;
    background:url("../../public/img/login/login.png") center no-repeat;
    background-size: cover; 
}

.login__title {
    color: var(--cor-vinho-escuro);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__inputs input {
    width: 25rem;
    max-width: 35rem;
    height: 3rem;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid var(--cor-preta);
}

.login__inputs label {
    font-size: 1.4rem;
    font-weight: 550;
    margin-bottom: .4rem;
}
.login__inputs label:nth-child(3) {
    margin-top: 2rem;
}

#submit {
    width: 150px;
    height: 3rem;
    margin-top: 2.5rem;
    font-weight: 550;
    background-color: var(--cor-vinho-verde);
    border-radius: 5px;
    border: 1px solid var(--cor-preta);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .5s;
}
#submit:hover {
    color: var(--cor-branca);
}

/*Media Queries*/
@media(max-width: 500px) {
    .user {
        right: 50%;
        transform: translate(50%);
        top: 60px;
        font-size: .9rem;
    }
}